version: "3.9"
services:
    nginx:
        build:
            context: docker/nginx
        ports:
            - '8000:80'
        volumes:
            - './app:/app'
        depends_on:
            - php-fpm

    php-fpm:
        build:
            context: docker/php-fpm
        volumes:
            - './app:/app'

    php-cli:
        build:
            context: docker/php-cli
        volumes:
            - './app:/app'
